header {
  width: 520px;
  margin: 52px auto 0;
  text-align: center;

  .title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 12px;

    .text-extra-light {
      display: block;
      font-weight: var(--w-extra-light);
    }
  }

  @media screen and (max-width: 540px) {
    width: 85%;

    .title {
      font-size: 24px;
      line-height: 35px;
    }
  }

  @media screen and (max-width: 325px) {
    width: 90%;

    .title {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.content {
  margin: 50px auto;

  .services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 25px;

    .service {
      box-shadow: 0 8px 12px hsla(212, 86%, 64%, 0.2);
      border-radius: 6px;
      padding: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-text {
        margin-bottom: 30px;
      }

      &-img {
        width: 64px;
        height: 64px;
        align-self: flex-end;
      }

      &[data-border-top="cyan"] {
        border-top: 5px solid var(--clr-cyan);
        grid-column: 1;
        grid-row: 2/4;
      }
      &[data-border-top="red"] {
        border-top: 5px solid var(--clr-red);
        grid-column: 2;
        grid-row: 1/3;
      }
      &[data-border-top="orange"] {
        border-top: 5px solid var(--clr-orange);
        grid-column: 2;
        grid-row: 3/5;
      }
      &[data-border-top="blue"] {
        border-top: 5px solid var(--clr-blue);
        grid-column: 3;
        grid-row: 2/4;
      }
    }
  }

  @media screen and (max-width: 540px) {
    .services-grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      .service {
        &-img {
          width: 54px;
          height: 54px;
        }
        &[data-border-top="cyan"] {
          grid-column: 1;
          grid-row: 1;
        }
        &[data-border-top="red"] {
          grid-column: 1;
          grid-row: 2;
        }
        &[data-border-top="orange"] {
          grid-column: 1;
          grid-row: 3;
        }
        &[data-border-top="blue"] {
          grid-column: 1;
          grid-row: 4;
        }
      }
    }
  }

  @media screen and (min-width: 541px) and (max-width: 860px) {
    .services-grid {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);

      .service {
        &[data-border-top="cyan"] {
          grid-column: 2/4;
          grid-row: 1/2;
        }
        &[data-border-top="red"] {
          grid-column: 1/3;
          grid-row: 2/3;
        }
        &[data-border-top="orange"] {
          grid-column: 3/5;
          grid-row: 2/3;
        }
        &[data-border-top="blue"] {
          grid-column: 2/4;
          grid-row: 3/4;
        }
      }
    }
  }
}

footer {
  margin-bottom: 65px;
  .footer-container {
    .attribution {
      text-align: center;
      font-size: 14px;
      line-height: 26px;
      a {
        color: var(--clr-cyan);
      }

      .heart-icon {
        svg {
          width: 15px;
          height: 15px;
          fill: var(--clr-cyan);
        }
      }
    }
  }

  @media screen and (max-width: 540px) {
    margin-bottom: 45px;
  }
}
